
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');



body {
 font-family: 'Poppins';
 color: rgb(11, 11, 167);
 font-size: larger;
}
h1, h2 {
 font-family: 'Oswald';
}
h1 {
  color: #993441;
  font-size: x-large;
}
h2 {
  color: #993441;
  font-size: x-large;
}
a {
  color: #993441;
}
a:hover {
  color: rgb(0, 47, 255);
}
.card {
  border: 1px dotted black;
  padding: 24px;
  width: 600px;
margin: 24px auto;
text-align: center;
border-radius: 20px;
background-color: #ffb8b1;
}

#Graham {
  width: 150px;
  height: 150px;
  border-radius: 20px;

}
.card-two {
  border: 1px dotted rgb(11, 4, 71);
  padding: 24px;
  width: 600px;
margin: 24px auto;
text-align: center;
border-radius: 20px;
background-color: #ffb8b1;

}
p {
 color: #993441;
}
ul {
      list-style-type: none;
      text-align: center;
}
@media (max-width: 960px) {
  .card {
    width: 700px;
  }
}

@media (max-width: 720px) {
  .card {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .card {
    width: 300px;
  }
}
@media (max-width: 960px) {
  .card-two {
    width: 700px;
  }
}

@media (max-width: 720px) {
  .card-two {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .card-two {
    width: 300px;
  }
}
